<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210553859047-alpfnbtqo907rcbeoje2uk0h7dmqjehs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210553859047-alpfnbtqo907rcbeoje2uk0h7dmqjehs</string>
	<key>API_KEY</key>
	<string>AIzaSyDHrPqE4WJ-LDqQXZ5SyZ6e0ZZ7LEGb-9E</string>
	<key>GCM_SENDER_ID</key>
	<string>210553859047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.itplus.letsbuy</string>
	<key>PROJECT_ID</key>
	<string>let-sbuy</string>
	<key>STORAGE_BUCKET</key>
	<string>let-sbuy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210553859047:ios:f7479147ddec2adbb7eb42</string>
</dict>
</plist>